.wrap {
  padding: 20vh 5vw;
  width: 90vw;
  height: 60vh;

  .title {
    text-align: center;
    font-size: 30px;
    padding-top: 35px;
  }


  .group_name {
    label {
      font-size: 25px;
      padding-top: 30px;
      display: block;
      text-align: center;
    }

    input[type="text"] {
      display: block;
      width: 56vw;
      margin: 20px auto 0;
      font-size: 25px;
      text-align: center;
    }
  }

  .start_button {
    padding: 50px 20px 20px;

    .join {
      color: white;
      font-size: 21px;
      font-weight: bold;
      text-align: center;
      box-shadow: #f2f52e 0px 0px 2px 0px;
    }
  }
}
